@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --radius: 0.5rem;
}

:root {
  --background: #f3d4ea;
  --foreground: #060405;

  --primary: #b33799;
  --primary-foreground: #fcb3ec;

  --secondary: #791564;
  --secondary-foreground: #ea86d4;

  --muted: #f4f4f5;
  --muted-foreground: #71717a;

  --accent: #820065;
  --accent-foreground: #f042ca;

  --destructive: #ef4444;
  --destructive-foreground: #fafafa;

  --border: #fd6fde;
  --input: #e4e4e7;
  --ring: #18181b;

  --card: #ffffff;
  --card-foreground: #060405;
  --popover: #ffffff;
  --popover-foreground: #060405;

  --radius: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  /* :root {
    ...
  } */
}

.dark {
  --background: #060405;
  --foreground: #f3d4ea;

  --primary: #e95dca;
  --primary-foreground: #791564;

  --secondary: #b33799;
  --secondary-foreground: #ea86d4;

  --muted: #27272a;
  --muted-foreground: #a1a1aa;

  --accent: #f042ca;
  --accent-foreground: #820065;

  --destructive: #7f1d1d;
  --destructive-foreground: #fafafa;

  --border: #27272a;
  --input: #27272a;
  --ring: #d4d4d8;

  --card: #18181b;
  --card-foreground: #f3d4ea;
  --popover: #18181b;
  --popover-foreground: #f3d4ea;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html,
body,
:root {
  height: 100%;
}
